.card{
    margin:10px;
    width: 500px;
}

h1{
    font-weight: bold
}
.nutritionTable{
    width:      900px;
    
}
td{
    width: 668px
}
.list{
width:100%;
background-color: Transparent;
background-repeat:no-repeat;
color:black

}
.oneFruit{
    width:100%
}
.card{
   
        width: auto;
        padding: 10px;
        margin-top: 10px;
}
img{
    display: block;

  width: 50%;
}
.yellow{
    background-color: Transparent;
    border: none;

}
