.menu {
  margin-left: 400px;
}

.navbar {
  background-color: #2bbbad !important;

}

.title {
  font-size: 20px;
  color: white;
  margin-left: 400px;

}

.favorites {
  font-size: 20px;
  color: white;
  padding: 10px
}