ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
 .navbar{
     background-color: #2bbbad !important ;

  }
  .title{
      font-size: 20px;
      color: white;
      padding: 10px;
  }
  .favorites{
    font-size: 20px;
    color: white
}